.burger--menu {
    margin: 0;
    width: 50px;
    height: 50px;
    z-index: 50;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;

    border-radius: 100%;
    opacity: 1;
    transition: background-color 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
}

.burger--menu--clicked {
    opacity: 0;
    visibility: hidden;
}

.burgerbar {
    display: block;
    position: relative;
    left: 0;
    opacity: 1;
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: rgba(var(--accent-color), 1);;
    border-radius: 4px;
    margin: 3px;

    transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.burgerbar1--clicked {
    left: -15px;
    opacity: 0;
}
.burgerbar2--clicked {
    opacity: 0;
}
.burgerbar3--clicked {
    left: 15px;
    opacity: 0;
}

@media (hover: hover) {
    .burgerbar1--hover{
        left: -5px;
    }
    .burgerbar3--hover{
        left: 5px;
    }
}

.burger--background--on {
    background-color: rgb(var(--content-color-600), 1);
}