:root {
    --side-menu-width: 200px;
    --top-bar-height: 60px;

    --dark-bg-color: #194769;  /* dark blue */
    --light-color-1: #d7eef2;  /* light blue */
    --light-color-2: #f6f6e9;  /* cream */
    --accent-color: #f2855e;  /* orange */

    --sidemenu-transition-len: 0.3s;
    --sidemenu-transition-curve: ease-out;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
}

#side--menu {
    position: fixed;
    height: 100vh;
    z-index: 10;
}
.side--menu {
    background-color: var(--light-color-1);
    width: var(--side-menu-width);
    left: calc(var(--side-menu-width) * -1);

    transition-property: all;
    transition-timing-function: var(--sidemenu-transition-curve);
    transition-duration: var(--sidemenu-transition-len);
}

#main--body{
    position: relative;
}
.main--body {
    left: 0;

    transition-property: all;
    transition-timing-function: var(--sidemenu-transition-curve);
    transition-duration: var(--sidemenu-transition-len);
}

.top--bar {
    height: var(--top-bar-height);
    width: 100%;
    position: fixed;
    right: 0;

    background-color: var(--light-color-2);

    transition-property: all;
    transition-timing-function: var(--sidemenu-transition-curve);
    transition-duration: var(--sidemenu-transition-len);
}


.content--page {
    background-color: var(--dark-bg-color);
    padding-top: calc(var(--top-bar-height) + 15px);
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    color: var(--light-color-2);
}

p::first-letter {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 3px;
    color: var(--accent-color);
}

.content2 {
    height: 1400px;
}


/* classes for side menu clicks */

.side--menu--shift--top--bar {
    left:0;
    /* this does not account for the scrollbar, but it's only
    a problem for the topbar (since it has pos fixed) and I can
    just move the rightmost element a bit to the left */
    width: calc(100vw - var(--side-menu-width));
    margin-left: var(--side-menu-width);
}

.side--menu--shift--main--body {
    left: var(--side-menu-width);
    margin-right: var(--side-menu-width);
}

.side--menu--shift--side--menu {
    left:0;
}

.side--menu--overflow {
    left:0;
    width: 100vw;
}